# Python
__pycache__/
.venv/

# Builds
*.egg-info
test/
dist/
*.so
src/pyawaitable/pyawaitable.h
pcbuild/
*.o

# LSP
compile_flags.txt
build/
.vscode/
.vs/
*.sln
*.user
*.vcxproj*
.clang-format

# Misc
test.py
a.py
vgcore*
